doctype html
html
    head
        title AnExtraEuro 
    body
        if !loggedIn
            button(onclick="redirectToLogin()") Accedi
        else
            p Sei loggato
        script.
            function redirectToLogin() {
                // Effettua una richiesta HTTP GET a /login
                fetch('/login', {
                    method: 'GET',
                }).then(() => {
                    // Dopo la richiesta, reindirizza l'utente a /login
                    window.location.href = '/login';
                });
            }
