doctype html
html
    head
        title AnExtraEuro
        script(src="https://cdn.tailwindcss.com")
    body
        div(style="position: absolute; top: 10px; right: 10px;")
            p(style="color: red; font-weight: bold;") #{data}
        div(style="position: absolute; top: 50px; right: 10px;")
            button(onclick=`home()`) Torna alla home 
        form
            label(for="nomeProgetto")
                i.fas.fa-user
                input(type="text", name="nomeProgetto", placeholder="Nome progetto", required)

            label(for="obbiettivo")
                i.fas.fa-user
                input(type="number", name="obbiettivo", placeholder="Obbiettivo", required, min="0", step="1")

            label(for="categoria")
                i.fas.fa-user
                select(name="categoria", required)
                    option(value="") Seleziona una categoria
                    script.
                        fetch('/categorie')
                            .then(response => response.json())
                            .then(data => {
                                console.log('Dati ricevuti:', data);
                                const select = document.querySelector('select[name="categoria"]');
                                data.categorie.forEach(categoria => {
                                    const option = document.createElement('option');
                                    option.value = categoria;
                                    option.text = categoria;
                                    select.appendChild(option);
                                });
                            })
                            .catch(error => console.error('Errore nel recupero delle categorie:', error));

            label(for="descrizione")
                i.fas.fa-user
                input(type="text", name="descrizione", placeholder="Descrizione", required)

            input(type="submit" value="Crea")
        
        script(src="loginAndRegister/js/campainCreator.js")
