doctype html
html
    head
        title AnExtraEuro
        script(src="https://cdn.tailwindcss.com")
    body
        div(style="position: absolute; top: 10px; right: 10px;")
            p(style="color: red; font-weight: bold;") #{data}
        form
            label(for="nomeCategoria")
                i.fas.fa-user
                input(type="text", name="nomeCategoria", placeholder="Nome categoria", required)

            label(for="descrizione")
                i.fas.fa-user
                input(type="text", name="descrizione", placeholder="Descrizione", required)

            input(type="submit" value="Crea")
        
        div(style="position: fixed; top: 50px; right: 10px; color: red; font-weight: bold")
            button(onclick="home()") Home 
        
        script(src="loginAndRegister/js/createCategories.js")
