doctype html
html
    head
        title AnExtraEuro 
    body             
        button(onclick="redirectToLogin()") Accedi
        script.
            function redirectToLogin() {
                // Effettua una richiesta HTTP GET a /login
                fetch('/login', {
                    method: 'GET',
                }).then(() => {
                    // Dopo la richiesta, reindirizza l'utente a /login
                    window.location.href = '/login';
                });
            }

