doctype html
html
    head
        link(rel="stylesheet", href="https://cdn.tailwindcss.com")
        title AnExtraEuro 
    body
        .profile-container
            - if (!cookiePresente) {
                button(onclick="redirectToLogin()") Accedi
                script.
                    function redirectToLogin() {
                        window.open('/login');
                    }
            - } else {
                img.profile-img(src='url_dell_immagine', alt='Immagine Profilo')
                .profile-info
                    h5= utente.nome + ' ' + utente.cognome
            - }
