doctype html
html
    head
        link(rel="stylesheet", href="https://cdn.tailwindcss.com")
        title AnExtraEuro
    body
        div.login
            h1 Login
            form(action="/auth", method="post", id="loginForm")
                label(for="username")
                    // font awesome icon
                    i.fas.fa-user
                    input(type="text", name="username", placeholder="Username", id="username", required)
                
                label(for="password")
                    i.fas.fa-lock
                    input(type="password", name="password", placeholder="Password", id="password", required)
                
                label(for="email")
                    // font awesome icon
                    i.fas.fa-user
                    input(type="text", name="email", placeholder="Email", id="email", required)
                
                input(type="submit", value="Login")
