doctype html
html
    head
        title AnExtraEuro
        script(src="https://cdn.tailwindcss.com")
    body
        form
            label(for="username")
                i.fas.fa-user
                input(type="text", name="username", placeholder="Username", required)

            label(for="password")
                i.fas.fa-lock
                input(type="password", name="password", placeholder="Password", required)

            input(type="submit", value="Login")
            
        script(src="loginAndRegister/js/login.js")
